.mobileMenu {
	display: block;
}

@media only screen and (min-width: 767px) {
	.mobileMenu {
		display: none; /* it will hide larger than 765px eg: laptop and desktop */
	}
}

.desktopMenu {
	display: none;
}

@media only screen and (min-width: 767px) {
	.desktopMenu {
		display: block; /* it will hide larger than 765px eg: laptop and desktop */
	}
}

.messenger {
	height: calc(100vh - 70px);
	display: flex;
	padding-right: 15px;
}

.chatMenu {
	flex: 3;
	margin-top: 3vh;
	margin-bottom: 1vh;
}

/*things related to avatar above left side menu */
.aligned {
	display: flex;
	align-items: center;
}

#myavatar {
	margin-bottom: 5px;
}
#namename {
	/* padding: 10px; */
	margin-left: 5px;
	margin-bottom: 2px;
	padding-left: 3px;
	font-size: 1rem;
	font-family: 'Poppins';
}
.chatMenuInput {
	width: 100%;
	padding: 10px, 0;
	border-bottom: 3px solid black;
}

.chatBox {
	flex: 6.5;
	margin-top: 2vh;
	font-family: 'Poppins';
	background: '#FFFFFF';

	box-shadow: 'inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19)';
}
.friends {
	margin-bottom: 2px;
}
.messagesHere {
	max-height: 65vh;
	border-radius: 6px;
	overflow-y: scroll;
	display: flex;
	flex-direction: column-reverse;
	scroll-snap-type: y mandatory;
}

.chatBoxWrapper {
	display: flex;
	margin-top: 2vh;
	border-radius: 6px;
	flex-direction: column;
	overflow-y: scroll;
	background-color: #f5f5f5;
}

.chatBoxBottom {
	margin: 10px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.messageInput {
	width: 80%;
	height: 80px;
	padding: 15px;
}

/* .chatOnline{
    flex: 3;
 } */

.chatMenuWrapper,
.chatBoxWrapper,
.chatOnline {
	padding: 10px;
	/* background-color: blueviolet; */
	max-height: 100%;
	margin-top: 2vh;
}
.chatBoxWrapper {
	margin-top: 5vh;
}

.chatMenuWrapper {
	overflow-y: scroll;
}

@media screen and (min-width: 480px) {
	.mobile-hide {
		display: none;
	}
}
