.messenger{
    height: calc(100vh - 70px);
    display: flex;
    padding-right: 15px;
}

.chatMenu{
    flex: 3.5;
}

.chatMenuInput {
    width: 90%;
    padding: 10px, 0;
    border: none;
    border-bottom: 3px solid black;
}

.chatBox{
    flex: 5.5;
}

.messagesHere{
    height: 100%;
    overflow-y: scroll;
}

.chatBoxWrapper {
    display: flex;
    flex-direction: column;
}

.chatBoxBottom {
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.messageInput {
    width: 80%;
    height: 80px;
    padding: 15px;
}

.chatOnline{
    flex: 3;
}

.chatMenuWrapper, .chatBoxWrapper, .chatOnline {
    padding: 10px;
    /* background-color: blueviolet; */
    height: 100%;
}