.message {
    display: flex;
    flex-direction: column;
    justify-content: right;
    padding: 1rem;
    margin-left: 1.5rem;
 }
  
   /* .messageImg {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
 } */
 .info-text {
    font-family: "Roboto";
 }
 .messageText {
    position: relative;
    padding: 10px 20px;
    color: white;
    background: #880dc2;
    border-radius: 20px;
    float: right;
    font-family: "Roboto";
    font-size: 1rem;
    font-weight: normal;
 }

.message.user .messageText {
   background-color: #0B93F6;
}
  
.message.user {
   align-items: flex-end;
   margin: 0 1.5rem 0.5rem 0;
}

.messageTop {
   display: flex;
}

 