.message {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
}

.messageTop {
    display: flex;
}

/* .messageImg {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
} */

.messageText {
    padding: 10px;
    border-radius: 25px;
    background-color: wheat;
    max-width: 300px;
}

.messageBottom {
    font-size: 12px;
    margin-top: 15px;
}

.message.user {
    align-items: flex-end;
}

.message.user .messageText {
    background-color: turquoise;
}