#conversation {
	display: flex;
	align-items: center;
	padding: 5px;
	cursor: pointer;
	margin-top: 10px;
}

.active {
	color: rgb(18, 179, 18);
	max-height: 15px;
}

.iconChat {
	font-size: xx-small;
}

@media screen and (max-width: 768px) {
	/* #social {
        display: none;
    } */
}
.conversation:hover {
	background-color: purple;
	color: white;
}

/* .conversationImg {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 20px;
 } */

.conversationName {
	font-weight: 500;
	font-family: 'Poppins';
	border: rgb(109, 137, 165);
}
